name: Default CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '**'
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup Nodejs
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - name: Install dependencies
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Test
      run: npm run test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
